<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Redbubble!</title>
  <style type="text/css">
    nav {
      margin: 10px;
    }
  </style>
</head>
<body>
  <header>
    <h1>TITLE</h1>

    <nav>
      <% nav_links.each do |name, url| %>
        <a href="<%= url %>"><%= name %></a>
      <% end %>
    </nav>
  </header>
  <%= thumbnails.each do |name| %>
    <a href="<%= thumbnail %>"><%= thumbnail %>
</body>
</html>
